@using IMC.Model
﻿
@inherits LayoutComponentBase

<main class="todo">
    <div class="caixa">
        <div>
            <h1>Cálculo de IMC</h1>
        </div>
        <div class="flex flex-column">
            <div><input class="input-text" type="number" placeholder="Altura" @bind-value="pessoa.Altura" /></div>
            <div><input class="input-text" type="number" placeholder="Peso" @bind-value="pessoa.Peso" /></div>
            <div><input class="input-text" type="text" placeholder="Sexo" @bind-value="pessoa.Sexo" /></div>

        </div>
        <div class="checkbox-container">
            <input class="checkbox" type="checkbox" id="age" @bind-value="pessoa.Maior65" />
            <label class="checkbox-label" for="age"> Eu tenho 65 anos ou mais</label><br>
        </div>
        <div>
            <button class="button-primary" type="button" onclick="@(()=>CalcularIMC.InvokeAsync(pessoa))">Calcular meu IMC</button>
        </div>
        <div>
            <button class="button-secondary white-background">Entender o Cálculo</button>
        </div>
    </div>
</main>

@code {

    [Parameter] public pessoa pessoa { get; set; }
    [Parameter]
    public EventCallback<pessoa> CalcularIMC { get; set; }

}